.modal-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  height: 300px;
  background-color: #fff;
  border: solid 1px #eee;
  z-index: 100;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
}

.modal-content-container {
  display: block;
  padding-left: 8px;
  height: 90%;
}

.modal-content-container .modal-input {
  width: 70%;
  border: solid 1px #555;
  border-radius: 4px;
  height: 32px;
  padding: 8px;
  text-align: center;
}

.modal-content-container .modal-input:focus-visible {
  border: none;
  border-bottom: solid 1px #337ab7;
  width: 70%;
}

.modal-content-container .modal-footer {
  display: flex;
  justify-content: end;
  margin-top: 16px;
}

.modal-content-container .modal-footer button {
  margin-right: 16px;
  border-radius: 4px;
  width: 80px;
  height: 36px;
  cursor: pointer;
  border: none;
}

.modal-content-container .modal-footer button:hover {
  opacity: 0.8;
}

button.primary {
  background-color: #337ab7;
  color: #fff;
}

button.secondary {
  background-color: #eee;
}

.modal-content-container .modal-content-form {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-content-container .modal-content-form span {
  align-self: center;
  margin-bottom: 16px;
}

