.sidebar {
  width: 50%;
  height: 100vh;
  background-color: #f1f1f1;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);
  z-index: 999;
  padding-left: 12px;
}

.sidebar.open {
  transform: translateX(0);
}

h3.brand-item {
  text-align: start;
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* padding-left: 20px; Add indentation */
}

.sidebar li {
  padding-left: 8px;
  text-align: start;
  font-size: 14px;
  padding-bottom: 20px;
}

.sidebar li a {
  /* text-decoration: none; */
  /* color: #000; */
}

.sidebar li ul {
  /* padding-left: 20px; Add additional indentation for nested lists */
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
  /* display: block; */
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.sidebar-overlay:hover {
  cursor: pointer;
}

.sidebar.open + .sidebar-overlay {
  opacity: 1;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sidebar-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 12px;
}