.editor-container {
  margin-top: 80px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#blog-editor {
  border: solid 1px #eee;
  width: 70%;
  height: 100%;
  border-radius: 8px;
  z-index: 0;
}

#blog-editor .ce-block .ce-block__content {
  max-width: 80%;
}

#blog-editor .ce-toolbar .ce-toolbar__content {
  max-width: 80%;
}

#blog-editor .ce-block .ce-block__content .ce-paragraph {
  text-indent: 16px;
}

.cdx-simple-image__caption {
  display: none;
}

.editor-action {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.blog-type-option {
  padding: 8px;
  background: white;
}

.editor-action button {
  margin-left: 16px;
  border-radius: 4px;
  width: 80px;
  height: 36px;
  cursor: pointer;
  border: none;
}

.editor-action button:hover {
  opacity: 0.8;
}

button.primary {
  background-color: #337ab7;
  color: #fff;
}

button.secondary {
  background-color: #eee;
}

.cdx-list {
  text-align: left;
}

.blog-type-dropdown {
  padding: 8px;
  border-radius: 4px;
  min-width: 150px;
  max-width: 200px;
  display: flex;
  border: solid 1px #eee;
  justify-content: space-between
}